# --- 数据文件 (非常重要，防止上传几万张图) ---
data/
datasets/
*.zip
*.tar
*.gz
*.rar

# --- 深度学习模型权重 ---
*.pth
*.pkl
*.h5
*.onnx

# --- Python 缓存与环境 ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/
.env
.ipynb_checkpoints/

# --- IDE 配置 ---
.vscode/
.idea/

# --- 系统文件 ---
.DS_Store
Thumbs.db